<div class="max-w-3xl mx-auto flex flex-col gap-3 ">
  <section class="input-section">
    <div class="input-container flex flex-col  items-center mt-3 gap-3">
      <div>
        <h1 class="text-3xl font-bold underline">Todo Input</h1>
      </div>
      <div class="w-full text-center p-4 dark:border-gray-100 border-slate-400 border-2 border-opacity-30">
        <div placeholder="New Todo" class="max-w-3xl  min-w-[320px]">
          <input type="text" name="todo-input" placeholder="Enter Todo" [(ngModel)]="inputText"
            class="input input-bordered w-full     " />
        </div>
        @if (!isEditing) {
        <app-button class="w-full mt-3 p-2" variant="primary" (handleClick)="addTodo()" text="Add Todo"
          [disabled]=disabled> </app-button>

    }
    @else {
    <app-button class="w-full mt-3 p-2" (handleClick)="updateTodo()" [disabled]="disabled" text="Update Todo">Update
      Todo</app-button>
    }
      </div>

    </div>
    </section>
    <section class="w-full mx-auto ">
      <app-todo-list [list]="todoList" (handleDelete)="deleteTodo($event)" (handleChecked)="handleChecked($event)"
        (handleUpdate)="setCurrentTodo($event)"></app-todo-list>
    </section>
  </div>